.movies90{

  display:flex;
  justify-content: space-around;
  color: #FFA903;
  flex-wrap: wrap;

}

.movies90 > * {
  width: 100%;
}

.movies{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movies > div{
  width: 400px;
}

input{
  height: 40px;
  font-size: 25px;
  border-radius: 12px;
  padding-left: 20px;
}

button{
  height: 50px;
  font-size: 25px;
  background-color: #FFA903;
  border-radius: 12px;
}

.movie{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.movie > *{
  width: 80%;
}

.movie h1{
  font-size: 30px;
  
}
.movie img{
  box-sizing: border-box;
box-shadow: 10px 10px grey;
width: 80%;
}

.movie p{
 margin: 0;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 15px;
  }

  .topicDiv{
    display:flex;
    justify-content: flex-start;
  }

  .topic{
    font-family: 'Notable', sans-serif;
    font-size: 50px;
    color: black;
    margin-left: 100px;

    
  }


  .buttonDiv{
    display: flex;
    flex-direction: column;
    width: 40%;
  }
