

button{
  width: 100%;
}

ul{
  list-style: none;
}

.allButtons{
  margin-top: 50px;
  margin-bottom: 50px;
  
}

.allButtons > div{
  background-color:black;
  border-radius: 15px;
}

.allButtons > button{
  height: 30px;
}